{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "TutorAppDbConnection": "Your_Connection_String"
  },
  "Jwt": {
    "Issuer": "MyTutorApp",
    "Audience": "TutorAppUsers",
    "Key": "Your_JWT_Key"
  },
  "AzureStorage": {
    "ConnectionString": "Your_Azure_Connection_String",
    "ContainerName": "profileimages",
    "BannerContainerName": "bannerimages",
    "ResumeContainerName": "resumeimages"
  },
  "MicroserviceSecret": "Your_Microservice_Secret"
}
